.userTable {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.errorMessage {
    margin: 40px auto 0;
    font-size: 24px;
    width: 400px;
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}
